/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */

#head1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-image: url(assets/beautiful-shot-forest-with-tall-green-trees.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
#head2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-image: url(assets/beauti2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

/* Heading Styles */
h1, h2 {
    margin: 0;
}

h1 {
    font-size: 3em;
    color: #333;
}

h2 {
    color: #333;
    font-size: 1.7em;
}

/* Paragraph Styles */
p {
    font-size: 1.3em;
    line-height: 1.6;
}

/* Navigation Styles */
nav {
    background-attachment: fixed;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.3s;
}

nav a:hover {
    padding: 1%;
    color: #FFA500;
    border: solid 1px #FFA500;
}

/* Section Styles */
section {
    text-align: center;
    padding: 40px;
}

/* About Section Styles */
.about-container {
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #FFA500;
}

.about-text {
    text-align: left;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-text h1 {
    font-size: 2em;
    color: #f4f4f4
}

/* Button Styles */
.hover-me {
    text-decoration: none;
    background-color: transparent;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    border: #FFA500 solid 3px;
    color: #f4f4f4;
}

.hover-me a {
    text-decoration: none;
    color: #f4f4f4;
}

.hover-me:hover {
    color: #333;
    background-color: #FFA500;
    transform: scale(1.1);
}

#hobby-button {
    margin-top: 10%;
}

/* Active Link Styles */
#active a {
    color: #FFA500;
    text-decoration: underline;
}

/* Soft Skill Section Styles */
.soft-skill {
    text-align: center;
    padding: 40px;
}

.soft-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.soft-skill-card {
    width: 300px;
    border: 2px solid #FFA500;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.soft-skill-card:hover {
    transform: scale(1.05);
}

.soft-skill-card img {
    max-width: 80px;
}

/* Project Section Styles */
#projects {
    background-color: #555;
}

#projetcts p, #projects h2 {
    color: #f4f4f4;
}

.project {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s;
}

.project a {
    text-decoration: none;
}

.project-image {
    max-width: 300px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.project-details {
    text-align: left;
    flex: 1;
}

.project-details h3 {
    font-size: 1.8em;
    color: #333;
    margin: 10px 0;
}

.project-details p {
    font-size: 1.5em;
    color: #555;
}

.project-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project-details li {
    font-size: 1.2em;
    color: #555;
}

.project:hover {
    transform: translateY(-5px);
}

/* Education Section Styles */
#education {
    background-color: #f4f4f4;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2, 0.2);
}

#education h2 {
    margin-bottom: 20px;
}

#education ul {
    list-style: none;
    padding: 0;
}

#education ul li {
    margin: 20px 0;
}

#education h3 {
    font-size: 1.5em;
    color: #333;
}

#education p {
    font-size: 1.2em;
    color: #555;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #FFA500;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}
.footer-column {
    margin: 10px 0;
}


/* Working Home Section Styles */
.presentation-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.presentation-container section {
    height: 250px;
    max-width: 40%;
    margin-top: 2%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 2%;
    flex-basis: 42%;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #333;
    color: white;
    border-radius: 20px;
}

.presentation-container h2 {
    color: white;
}

.presentation-container p {
    font-size: 1rem;
}

.presentation-container section:hover {
    transform: translateY(-5px);
    transform: scale(0.90);
}

.presentation-container img {
    margin: 2%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.items-hobbies h2 {
    text-align: center;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child {
    flex-basis: calc(20% - 20px);
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    border: 3px solid transparent;
    transition: border 0.3s;
    transition: padding 0.3s;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    opacity: 0;
    align-items: center;
    transition: 0.3s;
}

.child:hover {
    padding: 1%;
    border: 3px solid #FFA500;
}

.child:hover figcaption {
    opacity: 1;
}

#cybersecurity {
    text-align: center;
}

#cybersecurity .section-title {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#cybersecurity article,
#cybersecurity .subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 40px;
}

#cybersecurity .section-image,
#cybersecurity .subsection-image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    margin-right: 20px;
}

#cybersecurity .section-image img,
#cybersecurity .subsection-image img {
    width: 100%;
}

#cybersecurity .section-description,
#cybersecurity .subsection-description {
    color: #555;
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 30px;
}

@media (max-width: 1080px) {
    .presentation-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .presentation-container section {
        height: 270px;
        max-width: 40%;
        margin-top: 2%;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 2%;
        flex-basis: 42%;
        transition: 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        background-color: #333;
        color: white;
        border-radius: 20px;
    }
}
