/*Source
https://www.w3schools.com/
https://www.tooltester.com/fr/blog/portfolio-exemple/
https://www.svgrepo.com/collection/lifestyle-tritone-icons/
https://developer.mozilla.org/fr/docs/Web/CSS
*/

/* External Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* Reset and Base Styles */
:root {
    --main-font: 'Arial', 'Helvetica', sans-serif;
    --main-color: #222222;
    --accent-color: #3498db;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    line-height: 1.6;
}

/* Header Styles */
#head1 {
    position: relative;
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Heading Styles */
h1, h2 {
    margin: 0;
    color: white;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.7em;
}

/* Paragraph Styles */
p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Navigation Styles */
nav {
    background-attachment: fixed;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.3s;
}

nav a:hover {
    padding: 1%;
    color: var(--accent-color);
    border: solid 2px;
    border-image: linear-gradient(to right, var(--accent-color), #8e44ad);
    border-image-slice: 1;
}

/* Section Styles */
section {
    text-align: center;
    padding: 40px;
}

.title-section {
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

/* About Section Styles */
.about-container {
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.profile-image {
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px inset, 0 0 0 5px #413ADA;
}

.about-text {
    text-align: left;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

/* Button Styles */
.hover-me {
    text-decoration: none;
    background-color: transparent;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    border: #413ADA solid 3px;
    color: #f4f4f4;
    margin-bottom: 3.75%;
}

.hover-me a {
    text-decoration: none;
    color: white;
}

.hover-me:hover {
    color: white;
    background-color: #413ADA;
    transform: scale(1.1);
}

#hobby-button {
    margin-top: 10%;
}

/* Active Link Styles */
#active a {
    color: #413ADA;
}

/* Presentation Section Styles */
.presentation-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.presentation-container article {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #333;
    border-radius: 10px;
    transition: transform 0.3s;
}

.presentation-container article:hover {
    transform: translateY(-5px);
}

.presentation-container article img {
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 5px;
}

.presentation-container article h2 {
    color: #3498db;
}

.presentation-container article p {
    font-size: 1.2em;
    color: white;
}

/* Education Section Styles */
#education {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2, 0.2);
}

#education h2 {
    margin-bottom: 20px;
}

#education ul {
    list-style: none;
    padding: 0;
}

#education ul li {
    margin: 20px 0;
}

#education h3 {
    font-size: 1.5em;
    color: #3498db;
}

#education p {
    font-size: 1.2em;
    color: white;
}

/* Soft Skill Section Styles */
.soft-skill {
    text-align: center;
    padding: 40px;
    color: white;
}

.soft-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.soft-skill-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.soft-skill-card:hover {
    transform: scale(1.05);
}

.soft-skill-card img {
    max-width: 80px;
}

/* Project Section Styles */
#projects {
    background-color: #413ADA;
}

.project {
    border: solid #333 3px;
    border-radius: 10px;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s;
}

.project a {
    text-decoration: none;
}

.project-image {
    max-width: 250px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.project-details {
    text-align: left;
    flex: 1;
}

.project-details h3 {
    font-size: 1.7em;
    color: white;
    margin: 10px 0;
}

.project-details p {
    font-size: 1.2em;
    color: white;
}

.project-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project-details li {
    font-size: 1.2em;
    color: white;
}

.project:hover {
    transform: translateY(-5px);
}

/* Footer Styles */
footer {
    background-color: #0B131B;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

/*Page Hobby.html Style*/
/*Items Hobby Styles*/
.items-hobbies h2 {
    text-align: center;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child {
    flex-basis: calc(20% - 20px);
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    border: 3px solid transparent;
    transition: border 0.3s;
    transition: padding 0.3s;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    opacity: 0;
    align-items: center;
    transition: 0.3s;
}

.child:hover {
    padding: 1%;
    border: 3px solid #3498db;
}

.child:hover figcaption {
    opacity: 1;
}
/*Accordeon Section Style*/
.accordeon-section {
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #333;
}

/* Accordeon Child Style */
.accordeon-child {
    margin-top: 10px;
}

.accordeon-child summary {
    padding: 10px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accordeon-child summary:hover {
    background-color: #777;
}

/*Cybersecurity Section Style*/
#cybersecurity {
    text-align: center;
}

#cybersecurity .section-title {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
}

#cybersecurity article,
#cybersecurity .subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 40px;
    background-color: #333;
    border-radius: 10px;
}

#cybersecurity .section-image,
#cybersecurity .subsection-image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    margin-right: 20px;
}

#cybersecurity .section-image img,
#cybersecurity .subsection-image img {
    width: 100%;
}

#cybersecurity .section-description,
#cybersecurity .subsection-description {
    color: white;
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 30px;
}

#left-flex-box {
    flex-direction: row-reverse;
}

/* Media Queries Adaptation Flexbox */
@media (max-width: 1080px) {
    .presentation-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .presentation-container section {
        height: 270px;
        max-width: 40%;
        margin-top: 2%;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 2%;
        flex-basis: 42%;
        transition: 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        background-color: #333;
        color: white;
        border-radius: 20px;
    }
}
